<!-- templates/add_soldier_request.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Запрос на добавление солдата</title>
</head>
<body>
    <h1>Запрос на добавление нового солдата</h1>
    <form method="POST">
        <label for="soldier_name">Имя солдата:</label>
        <input type="text" id="soldier_name" name="soldier_name"><br><br>
        <label for="soldier_rank">Ранг солдата:</label>
        <select id="soldier_rank" name="soldier_rank">
            {% for rank_id, rank_name in soldier_ranks %}
                <option value="{{ rank_id }}">{{ rank_name }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Отправить запрос</button>
    </form>
</body>
</html>
