<!DOCTYPE html>
<html lang="ru">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
</head>
<body>
    <h2>Редактировать пользователя</h2>
    <form method="post">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" value="{{ user[1] }}" required><br>
        <label for="user_type">Тип пользователя:</label>
        <select id="user_type" name="user_type">
            <option value="soldier" {% if user[2] == 'soldier' %}selected{% endif %}>Рядовой</option>
            <option value="officer" {% if user[2] == 'officer' %}selected{% endif %}>Офицер</option>
        </select><br>
        <button type="submit">Сохранить</button>
    </form>
    <a href="{{ url_for('view_users') }}">Назад</a>
</body>
</html>
